In [115]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

In [5]:
task_df = pd.read_excel('task2.xlsx', sheet_name='task')
task_df

,task_id,hid,finish_dt_task,base_id,task_result_id
0,843083337,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6
1,844351919,ff34fad215457a0706186e347b6a3ac8,2020-04-27,7553,6
2,844406657,d9d9e1c6f5c95b3d8c72bb528bb06022,2020-04-10,7553,5
3,845152792,afdf70661693bbba8c31fb0b321b818c,2020-04-25,7553,5
4,845814859,9b3a7955c46a7e9658288cb8acc43eac,2020-04-05,7553,3
...,...,...,...,...,...
23114,933031663,206a7e3785fc7c047a9dd34e0defdb28,2020-05-30,7553,5
23115,933035272,9a2d6dd8ff0a11bdc7a65c8ded5d6d92,2020-05-30,7553,1
23116,933040837,3c682df2f35ed1dc634501b4b7ae25fe,2020-05-30,7554,5
23117,933042718,d6262e2d5840a2e68fcf028c9732606c,2020-05-30,7553,5
23118,933065058,1242029bded20eb92ffa31fd749d7ee4,2020-05-30,7553,6

In [6]:
call_df = pd.read_excel('task2.xlsx', sheet_name='call')
call_df

,task_id,call_id,agent_name,call_dt,call_result_id,call_time_sec
0,843083337,6645916908#16711160876,sakungurceva,2020-03-01,6,298
1,843083337,6750206063#16711160876,sakungurceva,2020-03-17,6,9
2,843083337,6769109629#16711160876,sakungurceva,2020-03-24,6,111
3,843083337,6890964670#16711160876,sakungurceva,2020-04-15,5,7
4,843083337,6926247810#16711160876,lapleshivenkova,2020-04-15,3,1329
...,...,...,...,...,...,...
39593,933035272,7124347282#18483260522,aztrofimova,2020-05-30,5,0
39594,933040837,7123998330#18480990905,aztrofimova,2020-05-30,5,9
39595,933040837,7124519269#18480990905,zadenis,2020-05-30,1,41
39596,933042718,7124237815#18482537123,npmoskalenko,2020-05-30,1,138
39597,933065058,7123061624#18471818019,dakupriyanov,2020-05-30,3,276

In [8]:
result_product_df = pd.read_excel('task2.xlsx', sheet_name='result_product')
result_product_df

,hid,product_type_cd,approve_dt,reject_dt,using_dt
0,0004c6142b4bf98fdb51ec0fead099b0,INV,2020-05-21,NaT,NaT
1,0008ddccf50e9a72ee9c6223fb45e4c4,INV,2020-05-29,NaT,NaT
2,000a2e5621a118118f42560c9821e6a1,INV,2020-04-27,NaT,2020-04-29
3,001a43fffa79a5b60c01473eeff9fd1f,INV,NaT,2020-04-01,NaT
4,001c27126f4fd13cc4126d4906c48425,INV,2020-05-06,NaT,NaT
...,...,...,...,...,...
5994,ffd2fd672444a27d03dbe426552502d5,INV,2020-05-24,NaT,2020-05-26
5995,ffd6cb7cef830393c9364ab42013f319,INV,2020-05-07,NaT,NaT
5996,ffe59b26f8c20e68ef921abdcd3532b8,INV,NaT,2020-06-05,NaT
5997,ffef7d941cae9d2aa8416f657f41109f,INV,2020-05-12,NaT,NaT
5998,fff11f06fd53c41904c42b51bc7749a3,INV,2020-04-13,NaT,2020-04-30

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:2708@localhost:5432/task2')
task_df.to_sql("task", engine)
call_df.to_sql("call", engine)
result_product_df.to_sql("result_product", engine)

In [24]:
task_call_df = task_df.merge(call_df, how='left', on='task_id')

In [25]:
task_call_df

,task_id,hid,finish_dt_task,base_id,task_result_id,call_id,agent_name,call_dt,call_result_id,call_time_sec
0,843083337,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6,6645916908#16711160876,sakungurceva,2020-03-01,6,298
1,843083337,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6,6750206063#16711160876,sakungurceva,2020-03-17,6,9
2,843083337,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6,6769109629#16711160876,sakungurceva,2020-03-24,6,111
3,843083337,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6,6890964670#16711160876,sakungurceva,2020-04-15,5,7
4,843083337,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6,6926247810#16711160876,lapleshivenkova,2020-04-15,3,1329
...,...,...,...,...,...,...,...,...,...,...
39593,933035272,9a2d6dd8ff0a11bdc7a65c8ded5d6d92,2020-05-30,7553,1,7124347282#18483260522,aztrofimova,2020-05-30,5,0
39594,933040837,3c682df2f35ed1dc634501b4b7ae25fe,2020-05-30,7554,5,7123998330#18480990905,aztrofimova,2020-05-30,5,9
39595,933040837,3c682df2f35ed1dc634501b4b7ae25fe,2020-05-30,7554,5,7124519269#18480990905,zadenis,2020-05-30,1,41
39596,933042718,d6262e2d5840a2e68fcf028c9732606c,2020-05-30,7553,5,7124237815#18482537123,npmoskalenko,2020-05-30,1,138
39597,933065058,1242029bded20eb92ffa31fd749d7ee4,2020-05-30,7553,6,7123061624#18471818019,dakupriyanov,2020-05-30,3,276

In [26]:
task_call_result_product_df = task_call_df.merge(result_product_df, how='left', on='hid')
task_call_result_product_df

,task_id,hid,finish_dt_task,base_id,task_result_id,call_id,agent_name,call_dt,call_result_id,call_time_sec,product_type_cd,approve_dt,reject_dt,using_dt
0,843083337,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6,6645916908#16711160876,sakungurceva,2020-03-01,6,298,INV,NaT,2020-04-22,NaT
1,843083337,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6,6750206063#16711160876,sakungurceva,2020-03-17,6,9,INV,NaT,2020-04-22,NaT
2,843083337,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6,6769109629#16711160876,sakungurceva,2020-03-24,6,111,INV,NaT,2020-04-22,NaT
3,843083337,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6,6890964670#16711160876,sakungurceva,2020-04-15,5,7,INV,NaT,2020-04-22,NaT
4,843083337,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6,6926247810#16711160876,lapleshivenkova,2020-04-15,3,1329,INV,NaT,2020-04-22,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39593,933035272,9a2d6dd8ff0a11bdc7a65c8ded5d6d92,2020-05-30,7553,1,7124347282#18483260522,aztrofimova,2020-05-30,5,0,NaN,NaT,NaT,NaT
39594,933040837,3c682df2f35ed1dc634501b4b7ae25fe,2020-05-30,7554,5,7123998330#18480990905,aztrofimova,2020-05-30,5,9,NaN,NaT,NaT,NaT
39595,933040837,3c682df2f35ed1dc634501b4b7ae25fe,2020-05-30,7554,5,7124519269#18480990905,zadenis,2020-05-30,1,41,NaN,NaT,NaT,NaT
39596,933042718,d6262e2d5840a2e68fcf028c9732606c,2020-05-30,7553,5,7124237815#18482537123,npmoskalenko,2020-05-30,1,138,NaN,NaT,NaT,NaT
39597,933065058,1242029bded20eb92ffa31fd749d7ee4,2020-05-30,7553,6,7123061624#18471818019,dakupriyanov,2020-05-30,3,276,INV,2020-05-30,NaT,NaT

In [42]:
l = []
for i in list(call_df.task_id):
    if i not in list(task_df.task_id):
        l.append(i)
l

[]

In [43]:
k = []
for i in list(result_product_df.hid):
    if i not in list(task_df.hid):
        k.append(i)
k

[]

In [ ]:
def

In [57]:
clients_quantity = task_call_result_product_df.task_id.nunique() # Количество потенциальных пользователей
clients_quantity

23119

In [58]:
agents_quantity = task_call_result_product_df.agent_name.nunique() # Количество операторов
agents_quantity

106

In [59]:
answers_quantity = task_call_result_product_df.query("call_result_id == 6 or call_result_id == 1 or call_result_id == 3") \
                           .task_id.nunique() # Количество пользователей, до которых дозвонились
answers_quantity

16387

In [109]:
yes_no_quantity = task_call_result_product_df.query("call_result_id == 1 or call_result_id == 3") \
                           .task_id.nunique() # Количество пользователей, которые дали ответ
yes_no_quantity

14311

In [111]:
success_quantity = task_call_result_product_df.query("call_result_id == 3") \
                           .task_id.nunique() # Количество пользователей, которые дали положительный ответ
success_quantity

6011

In [113]:
reject_quantity = task_call_result_product_df.query("reject_dt != 'NaT'") \
                           .task_id.nunique() # Количество пользователей, которые оставили товар
reject_quantity

2264

In [138]:
data = dict(
    number=[clients_quantity, answers_quantity, yes_no_quantity, success_quantity, success_quantity - reject_quantity],
    stage=["Количество клиентов", "Количество ответивших на звонок клиентов", "Количество давших ответ клиентов",
           "Количество успешных звонков", "Количество клиентов, оставивших товар"])
fig = px.funnel(data, x='number', y='stage', width=900, height=400)
fig.show()

In [136]:
px.funnel??

In [153]:
agents_calls_quantity_df = task_call_result_product_df.groupby('agent_name', as_index=False) \
                                       .agg({'call_result_id': 'count'}) \
                                       .rename(columns={'call_result_id': 'calls_quantity'})
agents_calls_quantity_df

            agent_name  calls_quantity
0    aashapovalov64931             549
1             afgluxov             263
2         amshevchenko              18
3          arxackevich             529
4              asmirov             369
..                 ...             ...
101       yuapodorueva               5
102          yugdulova             210
103        yuktixonova             240
104          yuvbabina             139
105            zadenis            1997

[106 rows x 2 columns]

In [154]:
agents_calls_time_df = task_call_result_product_df.query('call_result_id != 5 and call_result_id != 4') \
                                       .groupby('agent_name', as_index=False) \
                                       .agg({'call_time_sec': 'mean'}) \
                                       .rename(columns={'call_result_id': 'calls_quantity'})
agents_calls_time_df

            agent_name  call_time_sec
0    aashapovalov64931     147.623955
1             afgluxov     200.623596
2         amshevchenko     284.000000
3          arxackevich     230.076190
4              asmirov     225.537778
..                 ...            ...
99        yuapodorueva      46.250000
100          yugdulova     195.401316
101        yuktixonova     103.296970
102          yuvbabina     202.449438
103            zadenis     167.160529

[104 rows x 2 columns]

In [156]:
agents_df = agents_calls_quantity_df.merge(agents_calls_time_df, how='left', on='agent_name')
agents_df

            agent_name  calls_quantity  call_time_sec
0    aashapovalov64931             549     147.623955
1             afgluxov             263     200.623596
2         amshevchenko              18     284.000000
3          arxackevich             529     230.076190
4              asmirov             369     225.537778
..                 ...             ...            ...
101       yuapodorueva               5      46.250000
102          yugdulova             210     195.401316
103        yuktixonova             240     103.296970
104          yuvbabina             139     202.449438
105            zadenis            1997     167.160529

[106 rows x 3 columns]

In [157]:
agents_success_calls_df = task_call_result_product_df.query('call_result_id == 3') \
                        .groupby('agent_name', as_index=False).agg({'call_result_id': 'count'}) \
                        .rename(columns={'call_result_id': 'success_calls_quantity'})
agents_success_calls_df

           agent_name  success_calls_quantity
0   aashapovalov64931                      66
1            afgluxov                      47
2        amshevchenko                       1
3         arxackevich                      72
4             asmirov                      56
..                ...                     ...
85        yavfedorova                     138
86          yugdulova                      33
87        yuktixonova                      38
88          yuvbabina                      18
89            zadenis                     354

[90 rows x 2 columns]

In [158]:
agents_sns_calls_df = task_call_result_product_df.query('call_result_id == 3 or call_result_id == 1') \
                          .groupby('agent_name', as_index=False).agg({'call_result_id': 'count'}) \
                          .rename(columns={'call_result_id': 'calls_quantity'})
agents_sns_calls_df

           agent_name  calls_quantity
0   aashapovalov64931             163
1            afgluxov              91
2        amshevchenko               4
3         arxackevich             172
4             asmirov             126
..                ...             ...
86        yavfedorova             332
87          yugdulova              86
88        yuktixonova              87
89          yuvbabina              37
90            zadenis             659

[91 rows x 2 columns]

In [159]:
agents_calls_df = agents_success_calls_df.merge(agents_sns_calls_df, how='left', on='agent_name')
agents_calls_df

           agent_name  success_calls_quantity  calls_quantity
0   aashapovalov64931                      66             163
1            afgluxov                      47              91
2        amshevchenko                       1               4
3         arxackevich                      72             172
4             asmirov                      56             126
..                ...                     ...             ...
85        yavfedorova                     138             332
86          yugdulova                      33              86
87        yuktixonova                      38              87
88          yuvbabina                      18              37
89            zadenis                     354             659

[90 rows x 3 columns]

In [160]:
agents_calls_df['conversion'] = agents_calls_df.success_calls_quantity / agents_calls_df.calls_quantity
agents_calls_df

           agent_name  success_calls_quantity  calls_quantity  conversion
0   aashapovalov64931                      66             163    0.404908
1            afgluxov                      47              91    0.516484
2        amshevchenko                       1               4    0.250000
3         arxackevich                      72             172    0.418605
4             asmirov                      56             126    0.444444
..                ...                     ...             ...         ...
85        yavfedorova                     138             332    0.415663
86          yugdulova                      33              86    0.383721
87        yuktixonova                      38              87    0.436782
88          yuvbabina                      18              37    0.486486
89            zadenis                     354             659    0.537178

[90 rows x 4 columns]

In [166]:
agents_new_df = agents_df.merge(agents_calls_df[['agent_name', 'conversion']], how='left', on='agent_name')
agents_new_df

            agent_name  calls_quantity  call_time_sec  conversion
0    aashapovalov64931             549     147.623955    0.404908
1             afgluxov             263     200.623596    0.516484
2         amshevchenko              18     284.000000    0.250000
3          arxackevich             529     230.076190    0.418605
4              asmirov             369     225.537778    0.444444
..                 ...             ...            ...         ...
101       yuapodorueva               5      46.250000         NaN
102          yugdulova             210     195.401316    0.383721
103        yuktixonova             240     103.296970    0.436782
104          yuvbabina             139     202.449438    0.486486
105            zadenis            1997     167.160529    0.537178

[106 rows x 4 columns]

In [167]:
task_call_result_product_df.query('agent_name == "efskvortsova"')

,task_id,hid,finish_dt_task,base_id,task_result_id,call_id,agent_name,call_dt,call_result_id,call_time_sec,product_type_cd,approve_dt,reject_dt,using_dt
421,869926142,78decf007acd2f8a3d43c22040dbd0f3,2020-04-09,7553,1,6831428908#17241646294,efskvortsova,2020-04-06,5,0,NaN,NaT,NaT,NaT
1613,873956874,7c758d14651493f79bc015472b702e45,2020-04-03,7553,3,6852994813#17325157183,efskvortsova,2020-03-31,5,0,NaN,NaT,NaT,NaT
2249,874533196,b554d15914110e11de07dac5ca72ae6a,2020-04-02,7553,6,6857607763#17340815922,efskvortsova,2020-03-31,5,0,INV,NaT,2020-04-02,NaT
6481,877780392,4138ccb223660fba30c2188d4dd57ea7,2020-04-07,7553,3,6875048914#17398399117,efskvortsova,2020-04-06,5,0,NaN,NaT,NaT,NaT
8416,879809029,f1ac59fe75aad31c8c585f1ef7e0786c,2020-04-07,7553,5,6878800785#17421769417,efskvortsova,2020-04-06,5,0,NaN,NaT,NaT,NaT
8973,880424107,94c87b9ac0f08b27bfb18fa717bd98f1,2020-04-06,7553,6,6878760794#17424257238,efskvortsova,2020-04-06,5,0,INV,2020-04-06,NaT,2020-04-12
17986,896593777,67787b717f9f658290135551f9d7cccf,2020-04-22,7553,5,6949272764#17728530649,efskvortsova,2020-04-21,5,0,NaN,NaT,NaT,NaT
21255,903278330,0b316ed909f13198f81ae132e7eb36db,2020-05-05,7553,5,6983516616#17875736221,efskvortsova,2020-04-28,5,0,NaN,NaT,NaT,NaT

In [150]:
task_call_result_product_df.to_excel('Задание1.xlsx')

In [168]:
agents_new_df.sort_values('conversion', ascending=False).to_excel('Задание2.xlsx')