In [1]:
import pandas as pd
import numpy as np

In [55]:
datafile = open('gff.tsv')
data = datafile.readlines()
data[2].split('	')

['chr17',
 'RefSeq',
 'CDS',
 '6808204',
 '6808245',
 '.',
 '+',
 '0',
 'Name=CDS:NC_000083.5:LOC100040603;Parent=XM_001475631.1,\n']

In [58]:
def readstr(s):
    s = s.split('	')
    last_cell = s[len(s)-1]
    last_cell = last_cell.split(';')[-1].split('=')[1]
    last_cell = last_cell[:-1]
    if last_cell[-1] == ',':
        last_cell = last_cell[:-1]
    s[len(s)-1] = last_cell
    return s

In [59]:
data_df = pd.DataFrame([readstr(i) for i in data[1:]], columns=data[0].split('	'))
data_df

,seq_id,source,type,start,end,score,strand,phase,attributes\n
0,chr17,RefSeq,exon,6811330,6811453,.,+,.,XM_001475631.1
1,chr17,RefSeq,CDS,6808204,6808245,.,+,0,XM_001475631.1
2,chr17,RefSeq,CDS,6811792,6811869,.,+,2,XM_001475631.1
3,chr17,RefSeq,exon,6806513,6806553,.,+,.,XM_001475631.1
4,chr17,RefSeq,five_prime_UTR,6806513,6806526,.,+,.,XM_001475631.1
...,...,...,...,...,...,...,...,...,...
507,chr17,RefSeq,exon,6812219,6818159,.,+,.,XM_001475631.1
508,chr17,RefSeq,protein,6806527,6812289,.,+,.,XM_001475631.1
509,chr17,RefSeq,CDS,6806527,6806553,.,+,0,XM_001475631.1
510,chr17,RefSeq,exon,6811792,6811869,.,+,.,XM_001475631.1
511,chr17,RefSeq,exon,6806513,6806553,.,+,.,XM_001475631.1

In [60]:
data_df.groupby('type').agg({'type': 'count'})

                 type
type
CDS               170
exon              201
five_prime_UTR     47
mRNA               33
protein            29
three_prime_UTR    32