In [1]:
import pandas as pd
import numpy as np

In [39]:
df_sheet1 = pd.read_excel('ООО_Внимание_к_деталям.xlsx')
df_sheet2 = pd.read_excel('ООО_Внимание_к_деталям.xlsx', sheet_name='Выручка по обучающей выборке')

In [40]:
df_sheet1

,id точки,Адрес,Широта,Долгота,Дата открытия,Дата закрытия,Площадь магазина,Тип входа,Площадь ТЦ,Формат магазина,...,Этаж,Время работы,Заполненность ТЦ,Рядом с эскалатором,Рядом со входом,Конкуренты в ТЦ,Расположение в ТЦ,Толока,Люкс,Выборка
0,8955.0,"Оренбургская обл, Оренбург г, Шарлыкское ш, д...",55.118272,51.843127,2016-11-09 00:00:00,NaT,478,без сквозного прохода,130000.0,ТЦ,...,3,с 10:00 до 22:00,NaN,0,0,1.0,7.0,37.857582,69.500000,Обучающая
1,11007.0,"Алтайский край, г. Барнаул, ул. Малахова, дом ...",83.696799,53.356954,2010-04-26 00:00:00,NaT,332,сквозной проход,31500.0,ТЦ,...,1,с 10:00 до 22:00,NaN,0,1,NaN,9.0,57.810494,66.896552,Обучающая
2,11366.0,"Амурская область, Благовещенск, улица Мухина, 114",127.510357,50.280435,2017-08-25 00:00:00,NaT,356,без сквозного прохода,36000.0,ТЦ,...,1,с 10:00 до 22:00,3.0,0,1,1.0,6.0,49.959831,68.727273,Обучающая
3,11810.0,"Архангельская обл, г. Архангельск , Троицкий п...",40.528249,64.532316,2012-11-03 00:00:00,NaT,317,отдельный вход с улицы + сквозной проход,35000.0,ТЦ,...,1,с 10:00 до 21:00,3.0,0,1,0.0,10.0,128.459158,64.517241,Обучающая
4,15041.0,"Архангельская обл, г. Архангельск, Троицкий пр...",40.526317,64.534327,2006-12-09 00:00:00,NaT,176,сквозной проход,15332.0,ТЦ,...,цоколь,с 10:00 до 21:00,3.0,1,0,NaN,0.0,103.199885,78.275862,Тестовая
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2633929.0,"Ямало-Ненецкий АО, г. Новый Уренгой, ул. Сибир...",76.631279,66.082833,2014-08-01 00:00:00,NaT,326,без сквозного прохода,40000.0,ТЦ,...,1,с 10:00 до 22:00,3.0,1,1,NaN,10.0,36.219104,64.037037,Тестовая
242,2633930.0,"Ямало-Ненецкий АО, Ноябрьск г, Советская ул, д...",75.465427,63.203380,2016-04-16 00:00:00,NaT,707,без сквозного прохода,NaN,Мини ТЦ,...,1,NaN,2.0,0,1,NaN,1.0,93.000000,80.103448,Обучающая
243,2633935.0,"Ярославская обл, г. Ярославль, ул. Победы, дом...",39.869236,57.626872,2013-09-14 00:00:00,NaT,423,без сквозного прохода,120000.0,ТЦ,...,1,с 10:00 до 22:00,3.0,0,0,2.0,9.0,54.416490,72.034483,Обучающая
244,2633946.0,"Ярославская обл, г. Ярославль, ул. Свободы, до...",39.883707,57.624998,2008-08-28 00:00:00,NaT,290,без сквозного прохода,4000.0,ТЦ,...,1,с 10:00 до 21:00,NaN,0,0,NaN,9.0,27.151259,61.517241,Обучающая
245,2633948.0,"Ярославская обл, Ярославский район, Телегински...",39.783545,57.645195,2006-12-12 00:00:00,NaT,319,без сквозного прохода,42000.0,ТЦ,...,1,с 10:00 до 22:00,3.0,1,0,1.0,7.0,27.845666,47.896552,Обучающая

In [41]:
df_sheet2

,id точки,2015-01-01,2015-02-01,2015-03-01,2015-04-01,2015-05-01,2015-06-01,2015-07-01,2015-08-01,2015-09-01,...,2018-01-01,2018-02-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01
0,11366.0,245709.342667,301024.685000,406199.782258,295602.853000,268179.172258,266579.009667,202667.039355,207347.022581,237393.216667,...,271084.023513,298845.267500,277776.347333,270902.919677,280106.099000,243448.836129,236709.816452,248268.778333,296637.103226,314456.870000
1,11810.0,270245.842066,297964.820199,406198.175918,232433.263996,229317.708387,251403.308057,242000.555806,260407.109247,267051.162996,...,245402.383180,273515.012143,240088.292000,196260.466452,228920.589000,204058.825161,207104.013135,203499.409840,206013.017419,218636.436000
2,15041.0,171972.976000,198141.440000,260215.741935,205316.010644,187059.870968,198590.970667,178250.637781,187094.699355,211000.005517,...,174154.623627,173190.240000,240396.837333,241494.616774,264873.765333,227461.233548,249503.230968,251805.680000,263152.960000,269913.018667
3,15775.0,409032.989736,468816.460949,582717.510920,442807.529886,371689.316054,428430.990000,365894.971255,384266.496739,385515.509997,...,431909.251500,493571.089286,408575.490000,387081.406452,418398.840000,362395.248387,393423.329032,387866.910000,421387.374194,481330.143000
4,16102.0,437693.191667,510077.198214,602107.617742,465779.798333,423448.914516,414476.575000,370944.770968,392089.754839,416797.330000,...,378429.858867,453511.489286,388849.670000,369223.219355,392389.013333,328593.246774,350885.291935,369367.358333,427575.006452,472508.001667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,2634000.0,341009.722000,413489.085501,518426.278387,376071.505667,357895.794516,505318.240505,458096.520286,516279.226774,486665.455265,...,513382.351353,590733.692857,480563.392000,457005.916452,541734.577000,444286.811935,574573.538710,538086.317000,530747.271290,565599.127667
151,2634008.0,270923.715000,404737.144643,470433.872222,401063.781000,318507.450000,385579.165000,375166.269677,382299.377093,413219.906524,...,162847.124247,202552.822857,185037.349333,167999.870323,186120.868667,175067.582903,174118.710968,174518.631333,189597.414516,226016.234333
152,2634011.0,378429.753517,350607.477988,482925.193552,367225.245935,349294.028363,388179.193333,400668.150126,421847.743068,345782.485333,...,461032.727239,443111.015436,410602.549333,379963.923226,457012.976000,431740.369032,491072.692000,461658.858000,421671.512258,489829.227333
153,2633936.0,NaN,NaN,NaN,NaN,420226.940000,311592.339222,255945.113890,234998.024826,234465.065333,...,360466.441020,372836.555000,299080.189333,286674.025806,327415.778667,305542.250323,345389.650968,349845.855333,361092.704994,363068.734000
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,502913.053140,594450.393471,560283.324000,514546.421768,644308.088000,533981.383006,562082.839742,575194.942000,724658.394194,726229.020000

In [42]:
df_sheet1.loc[df_sheet1['Формат магазина'] == 'Street', ['Формат магазина']] = 'Стрит'

In [44]:
df_sheet1.loc[df_sheet1['Формат магазина'] == 'Стрт', ['Формат магазина']] = 'Стрит'

In [52]:
df_sheet1.loc[df_sheet1['Формат магазина'] == 'Мини-ТЦ', ['Формат магазина']] = 'Мини ТЦ'

In [70]:
df_sheet1 = df_sheet1.rename(columns={'id точки': 'id'})
df_sheet2 = df_sheet2.rename(columns={'id точки': 'id'})

In [71]:
 df_sheet1[df_sheet1['Формат магазина'] == 'Стрит'].query('Выборка == "Тестовая"')

,id,Адрес,Широта,Долгота,Дата открытия,Дата закрытия,Площадь магазина,Тип входа,Площадь ТЦ,Формат магазина,...,Этаж,Время работы,Заполненность ТЦ,Рядом с эскалатором,Рядом со входом,Конкуренты в ТЦ,Расположение в ТЦ,Толока,Люкс,Выборка
72,42059.0,"г. Санкт-Петербург, Невский пр., дом № 27",30.327007,59.935056,2005-03-03 00:00:00,NaT,234,отдельный вход с улицы,NaN,Стрит,...,1,с 10:00 до 22:00,NaN,0,1,NaN,3.0,77.000192,77.965517,Тестовая
74,42072.0,"г. Санкт-Петербург, Невский пр., дом № 90-92, ...",30.352412,59.932428,2003-09-16 00:00:00,NaT,136,отдельный вход с улицы,NaN,Стрит,...,3,с 10:00 до 22:00,NaN,0,1,0.0,NaN,43.738228,74.862069,Тестовая
119,42288.0,"Краснодарский край, г. Сочи, ул. Навагинская, ...",39.723699,43.587014,2002-04-06 00:00:00,NaT,172,отдельный вход с улицы,NaN,Стрит,...,1,с 9:00 до 21:00,NaN,0,1,0.0,NaN,30.012877,77.586207,Тестовая
155,42466.0,"Новгородская обл, г. Великий Новгород, ул. Газ...",31.271550,58.524624,2011-04-14 00:00:00,NaT,375,отдельный вход с улицы,NaN,Стрит,...,3,с 10:00 до 21:00,NaN,0,1,NaN,NaN,21.730924,48.931034,Тестовая
164,42499.0,"Оренбургская обл, г. Оренбург, ул. Володарског...",55.102543,51.768377,2007-02-11 00:00:00,NaT,272,отдельный вход с улицы,NaN,Стрит,...,1,с 10:00 до 21:00,2.0,0,1,NaN,NaN,43.510475,68.620690,Тестовая
224,42792.0,"Ставропольский край, Пятигорск, улица Крайнего...",43.070993,44.036763,2015-11-11 00:00:00,NaT,429,без сквозного прохода,NaN,Стрит,...,1,с 10:00 до 21:00,NaN,0,0,NaN,NaN,39.937152,75.000000,Тестовая

In [72]:
df_sheet1[df_sheet1['Выборка'] == 'Обучающая'].shape

(156, 21)

In [74]:
list_id_ms = list(df_sheet1[df_sheet1['Формат магазина'] == 'Мини ТЦ']['id'].dropna())
list_id_ms

[18331.0,
 18728.0,
 41824.0,
 41933.0,
 42039.0,
 42067.0,
 42113.0,
 42163.0,
 42192.0,
 42219.0,
 42242.0,
 42276.0,
 42278.0,
 42355.0,
 42368.0,
 42383.0,
 42422.0,
 42458.0,
 42496.0,
 42504.0,
 42548.0,
 42598.0,
 42618.0,
 42645.0,
 42683.0,
 42720.0,
 42743.0,
 42803.0,
 42645.0,
 2633930.0]

In [130]:
len(list_id_ms)

30

In [75]:
col_list = [df_sheet2.columns[0]]
for i in list(df_sheet2.columns):
    if i[:4] == '2016':
        col_list.append(i)
col_list

['id',
 '2016-01-01',
 '2016-02-01',
 '2016-03-01',
 '2016-04-01',
 '2016-05-01',
 '2016-06-01',
 '2016-07-01',
 '2016-08-01',
 '2016-09-01',
 '2016-10-01',
 '2016-11-01',
 '2016-12-01']

In [113]:
df_sheet2_2016 = df_sheet2[col_list]
df_sheet2_2016_new = df_sheet2_2016.query('id in @list_id_ms').fillna(0)
df_sheet2_2016_new

,id,2016-01-01,2016-02-01,2016-03-01,2016-04-01,2016-05-01,2016-06-01,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01
11,18728.0,367034.640000,518191.520000,612575.473548,462814.800000,477767.721290,451050.096000,401384.010323,383641.476129,422102.426667,422386.720000,405809.077707,856555
14,41824.0,288251.640000,380476.893103,409749.793548,335297.010000,341503.345161,310039.590000,273176.738710,293777.854839,343191.180000,338595.300000,311294.640000,588299
23,41933.0,96125.460000,131703.051724,166441.238710,103033.830000,109410.630000,107573.640000,98078.632258,115117.374194,104382.240000,132300.493548,102602.670000,228666
42,42067.0,618664.284420,778685.648276,948356.721290,610125.390000,648604.550319,628196.226000,541807.499032,548504.053548,589191.498000,637511.713548,627179.867580,1.42202e+06
56,42192.0,157156.285333,219535.906897,263464.079355,180751.274000,174377.539355,200850.477333,172807.401290,181212.264516,182401.356000,210517.014194,161834.140093,288096
61,42219.0,165361.765333,183196.816166,234128.893793,181151.861333,166158.575484,173533.509333,162844.341333,169838.714839,173049.632000,200700.714667,179830.299040,296884
66,42242.0,262235.282759,341500.413793,413340.774194,278217.413333,253406.967742,291884.933333,245933.264516,220819.148387,268867.520000,274188.619355,257091.973867,560731
79,42355.0,79599.658667,99675.188966,129198.823226,83833.026207,90507.767742,143539.242667,204567.081290,239827.447742,194232.533333,130127.483871,89366.954667,179 944.79
80,42368.0,545935.139310,646203.233103,769325.914426,567838.250667,554051.427097,655431.680000,596274.787097,670410.405161,650349.909333,694186.157419,614323.370667,1.15111e+06
83,42383.0,252934.439333,315365.363793,396360.040323,268140.630333,244010.423548,254807.249667,268337.013226,266149.490645,292829.203333,298976.948065,263109.089577,478169
84,42383.0,432084.774330,561409.609655,669310.098387,487761.416997,485661.457742,456049.373670,392559.430645,430120.350000,469779.123000,492347.534516,488088.280677,966823
87,42422.0,221053.099355,236999.453793,294685.765161,186388.645333,188042.580645,227255.242667,228655.803871,246902.518710,184107.914667,239920.185806,220086.609120,433697
92,42458.0,247509.406897,341837.668966,403892.038710,268721.163333,263977.361290,274547.460000,272024.925806,258007.483871,274683.676667,312697.887097,289971.880000,558148
97,42496.0,288339.827586,373763.172414,424793.516129,247102.166667,268194.838710,288479.900000,269497.774194,282031.645161,268095.833333,283937.000000,281229.467333,537106
99,42504.0,208697.489333,268136.578621,331250.030323,218518.301333,207277.721935,222148.099667,232665.450968,236915.669677,211914.458667,254999.308667,230982.218513,420625
106,42548.0,256810.443548,299840.905172,424251.653226,269642.625000,262584.838710,274678.625000,252030.887097,319404.879032,344379.250000,402658.104839,377204.916250,776856
121,42683.0,112845.751333,122103.392759,169540.163871,94366.555667,100353.600000,106509.617333,106632.150968,108016.763226,103707.372333,121351.532581,112168.614003,293145
127,42720.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,475542.757882,255120.270964,227869.800000,304069.354839,292810.479600,471398
134,42743.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,313307.100000,561332.864000,710535.174194,719798.160400,1.52787e+06
142,42803.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0

In [114]:
df_sheet2_2016_new.dtypes

id            float64
2016-01-01    float64
2016-02-01    float64
2016-03-01    float64
2016-04-01    float64
2016-05-01    float64
2016-06-01    float64
2016-07-01    float64
2016-08-01    float64
2016-09-01    float64
2016-10-01    float64
2016-11-01    float64
2016-12-01     object
dtype: object

In [119]:
df_sheet2_2016_new['2016-12-01'] = df_sheet2_2016_new['2016-12-01'].astype(str).str.replace(' ', '').astype(float)

In [120]:
df_sheet2_2016_new

,id,2016-01-01,2016-02-01,2016-03-01,2016-04-01,2016-05-01,2016-06-01,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01
11,18728.0,367034.640000,518191.520000,612575.473548,462814.800000,477767.721290,451050.096000,401384.010323,383641.476129,422102.426667,422386.720000,405809.077707,8.565546e+05
14,41824.0,288251.640000,380476.893103,409749.793548,335297.010000,341503.345161,310039.590000,273176.738710,293777.854839,343191.180000,338595.300000,311294.640000,5.882988e+05
23,41933.0,96125.460000,131703.051724,166441.238710,103033.830000,109410.630000,107573.640000,98078.632258,115117.374194,104382.240000,132300.493548,102602.670000,2.286662e+05
42,42067.0,618664.284420,778685.648276,948356.721290,610125.390000,648604.550319,628196.226000,541807.499032,548504.053548,589191.498000,637511.713548,627179.867580,1.422015e+06
56,42192.0,157156.285333,219535.906897,263464.079355,180751.274000,174377.539355,200850.477333,172807.401290,181212.264516,182401.356000,210517.014194,161834.140093,2.880963e+05
61,42219.0,165361.765333,183196.816166,234128.893793,181151.861333,166158.575484,173533.509333,162844.341333,169838.714839,173049.632000,200700.714667,179830.299040,2.968844e+05
66,42242.0,262235.282759,341500.413793,413340.774194,278217.413333,253406.967742,291884.933333,245933.264516,220819.148387,268867.520000,274188.619355,257091.973867,5.607309e+05
79,42355.0,79599.658667,99675.188966,129198.823226,83833.026207,90507.767742,143539.242667,204567.081290,239827.447742,194232.533333,130127.483871,89366.954667,1.799448e+05
80,42368.0,545935.139310,646203.233103,769325.914426,567838.250667,554051.427097,655431.680000,596274.787097,670410.405161,650349.909333,694186.157419,614323.370667,1.151110e+06
83,42383.0,252934.439333,315365.363793,396360.040323,268140.630333,244010.423548,254807.249667,268337.013226,266149.490645,292829.203333,298976.948065,263109.089577,4.781687e+05
84,42383.0,432084.774330,561409.609655,669310.098387,487761.416997,485661.457742,456049.373670,392559.430645,430120.350000,469779.123000,492347.534516,488088.280677,9.668232e+05
87,42422.0,221053.099355,236999.453793,294685.765161,186388.645333,188042.580645,227255.242667,228655.803871,246902.518710,184107.914667,239920.185806,220086.609120,4.336967e+05
92,42458.0,247509.406897,341837.668966,403892.038710,268721.163333,263977.361290,274547.460000,272024.925806,258007.483871,274683.676667,312697.887097,289971.880000,5.581477e+05
97,42496.0,288339.827586,373763.172414,424793.516129,247102.166667,268194.838710,288479.900000,269497.774194,282031.645161,268095.833333,283937.000000,281229.467333,5.371062e+05
99,42504.0,208697.489333,268136.578621,331250.030323,218518.301333,207277.721935,222148.099667,232665.450968,236915.669677,211914.458667,254999.308667,230982.218513,4.206253e+05
106,42548.0,256810.443548,299840.905172,424251.653226,269642.625000,262584.838710,274678.625000,252030.887097,319404.879032,344379.250000,402658.104839,377204.916250,7.768556e+05
121,42683.0,112845.751333,122103.392759,169540.163871,94366.555667,100353.600000,106509.617333,106632.150968,108016.763226,103707.372333,121351.532581,112168.614003,2.931445e+05
127,42720.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,475542.757882,255120.270964,227869.800000,304069.354839,292810.479600,4.713979e+05
134,42743.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,313307.100000,561332.864000,710535.174194,719798.160400,1.527871e+06
142,42803.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00

In [126]:
df_sheet2_2016_new.shape

(20, 13)

In [121]:
df_sheet2_2016_new.columns[12]

'2016-12-01'

In [128]:
mean = 0
for i in range(1,13):
    mean += df_sheet2_2016_new[df_sheet2_2016_new.columns[i]].mean()

In [129]:
mean

3667471.993005723

In [131]:
df_sheet1[df_sheet1['Парковка'] == 'бесплатная парковка']['Парковка']

0      бесплатная парковка
1      бесплатная парковка
2      бесплатная парковка
3      бесплатная парковка
4      бесплатная парковка
              ...
238    бесплатная парковка
241    бесплатная парковка
242    бесплатная парковка
243    бесплатная парковка
245    бесплатная парковка
Name: Парковка, Length: 156, dtype: object